# kids-lab-chamarette-2019
Voici les jeux vidéos créés par les enfants lors de l'atelier *kids-lab.io* à la chamarette en 2019.

Tu trouvera le logiciel à l'adresse : www.kids-lab.io

Et voici vos travaux :
$link-list$

Bonne continuation :-)

M. Caron